body {
    background-color: #6b348600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 table{
    border-spacing: 10px;
 }
td {
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   border-bottom:1px solid rgb(41, 40, 40);
   background-color: rgb(209, 208, 208);
   border-radius: 5px;
   border-color: #6a3486;
   border-width: 15px;
   
  }


th {
    border-top:1px solid rgb(41, 40, 40);
    padding: 30px;
    text-align: center;
    background-color: #f5f5f5;
    border-color: #6a3486;
    border-width: 15px;
    width: 13px;
   
  }
